@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<h4>For futher details and queries Contact :</h4>

<address>
    Milton Hotel<br />
    Halifax<br />
    <abbr title="Phone">P:</abbr>
    902-xxx-9999
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@milton.com">Support@milton.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@milton.com">Marketing@milton.com</a>
</address>